* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.p-x-all {
  padding-left: 60px;
  padding-right: 60px;
}
.bg-primary {
  background-color: #431b51 !important;
}
.btn-primary {
  background-color: #431b51 !important;
}
.bg-primary-light {
  background-color: #fcf2ff;
}

.bg-secondary-light {
  background-color: #f6f7eb;
}
.text-primary {
  color: #431b51 !important;
}

.main-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header .mh-txt,
.mh-txt {
  background: #ffc608;
  color: #431b51;
  padding: 6px 27px;
  border-radius: 22px;
  font-size: 12px;
  width: fit-content;
}
.main-header h2 {
  font-weight: bold;
}
.section-margin {
  margin-bottom: 9em;
}

/*------------------navbar-----------------------*/

.navbar {
  background-color: #fdf7ff;
  height: 100px;
  width: 100%;
  /* border: 1px solid green; */
  padding: 12px 40px;
}

.menu {
  place-content: end;
}

.menu ul {
  margin-right: 10px;
}

.navbar-nav li .nav-link {
  color: #431b51;
  font-size: 16px;
  font-weight: 300;
  /* float: left; */
  /* text-align: start; */
}

.contact-btn {
  border: none;
  padding: 13px 20px;
  background-color: #431b51;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  width: 124px;
}

.fa-bars {
  color: #431b51;
  font-size: 24px;
  line-height: 0;
}

.navbar-toggler {
  outline: none;
  background-color: #fdf7ff;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}




/* ************Small screen***************** */



@media (max-width: 600px) {
  .p-x-all {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar {
    padding: 12px 5px !important;
  }
  .navbar-brand {
    width: 143px;
  }

  #navbarTogglerDemo03 {
    position: absolute;
    background: #fdf7ff;
    top: 104px;
    left: 0;
    width: 100%;
    padding-left: 61px;
  }

  .navbar-nav li .nav-link {
    padding: 18px 0;
    margin-left: -31px;
  }
  .text-con .ts-header {
    margin-top: 10px;
  }
  .menu .contact-btn {
    margin-left: 26px;
    margin-top: 15px;
    margin-bottom: 0 !important;
  }

  .talent-sec {
    text-align: center;
  }

  .ta-lent {
    flex-direction: column;
  }

  .ta-lent .text-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .talent-sec .ts-header h5 {
    font-size: 23px !important;
    line-height: 30px !important;
  }

  .text-con .tss-p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
    max-width: 34em;
  }

  .img-wrap {
    width: 100% !important;
  }

  /* -----------About Us--------------- */

  .about-us {
    background-color: #fff;
  }

  .about-img {
    width: 100%;
  }

  .img-1 {
    position: absolute;
  }

  .img-1 img {
    width: 275px;
  }

  .img-2 img {
    width: 230px !important;
    position: absolute;
    top: 152px !important;
    left: 121px !important;
  }

  .ab-h4 {
    font-size: 30px !important;
    padding-left: 0 !important;
  }

  .ceo {
    margin-left: 0 !important;
    align-items: center;
  }

  .ceo .founder {
    margin-left: 5px !important;
  }

  .years .ex-p {
    font-size: 12px;
    padding: 15px 9px;
    text-wrap: nowrap;
  }

  .ceo .years {
    padding: 6px !important;
  }

  .founder .p1 {
    font-size: 6px !important;
  }

  .founder .p2 {
    font-size: 8px !important;
    text-wrap: nowrap;
  }

  /* ------Service area------- */

  .border-area {
    padding: 30px 17px !important;
  }
  .service {
    padding: 30px 18px !important;
  }

  .s-text h2 {
    font-size: 25px !important;
    font-weight: 800 !important;
  }

  .s-text p {
    font-size: 16px !important;
    margin-top: 15px;
  }

  .border-area h4 {
    font-size: 22px !important;
  }

  .border-area p {
    font-size: 17px;
  }

  .visit-btn1,
  .visit-btn2 {
    position: static !important;
    margin: 0;
    margin-bottom: 0 !important;
  }

  .border-area3 h4 {
    font-size: 25px !important;
    padding-left: 31px !important;
  }

  .border-area3 p {
    font-size: 20px;
    padding-left: 31px;
  }

  .s-img img {
    display: none;
  }

  .bottom-text .bottom-con {
    padding: 10px 30px !important;
  }

  .bottom-row .col-md-3 {
    border-right: none !important;
  }

  .col-6 p {
    font-size: 15px;
  }

  .col-6 h3 {
    font-size: 20px;
  }

  .bottom-text {
    margin-top: -55px !important;
  }
  /* -------------Benefits--------------- */
  .svg-slide {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }

  /* ------------Testimonial---------------- */
  .testimonials-body {
    flex-direction: column;
  }
  .testimonials .text-place {
    text-align: center;
  }
  .testimonials .text-place h5 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .testimonials-carousel {
    flex-direction: column;
  }
  .testimonials .p-body p {
    font-size: 32px !important;
    margin-bottom: 0 !important;
  }

  /* ------------footer-------------- */

  .footer-col3 {
    margin-left: 0 !important;
  }



  /* -----------box--------------- */

  .box-sec
  .row
  .pb {
    margin-bottom: 23px;
  }

  .box .p-x-all {
    padding-left: 17px;
    padding-right: 17px;
  }

  /* -----------courses------------- */

  .courses .courses-title h6 {
    font-size: 25px !important;
  }

  .courses .courses-title p {
    font-size: 14px !important;
  }

  .courses .courses-sec .row-con {
    margin: 36px 0 0 0 !important;
  }

  .courses .col-box .col-con {
    padding: 33px 28px 23px 28px !important;
  }

  .courses .col-box {
    margin-bottom: 25px !important;
  }

  /* ---------testimonial----------- */

  .testimonial-con
  .testimonial-tittle 
  .text-p {
    font-size: 19px !important;
  }

  .testimonial-sec 
  .box-con {
    padding: 18px 11px !important;
  }

  .testimonial-sec 
  .box-con p {
    font-size: 12px !important;
    line-height: 20px !important;
  }

  .testimonial-sec h6 {
    font-size: 12px !important;
  }

  .slide {
    display: none;
  }

  /* -----------------data---------------- */

  .data 
  .data-con 
  .data-row {
    padding-left: 35px !important;
    padding-top: 43px !important;
  }

  .data-row .row {
    display: grid;
    grid-template-columns: auto auto;
  }

  .data-row2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 55px;
    padding-left: 30px !important;
  }

  .m-t-all {
    margin-top: 3rem;
  }

  .data .data-text {
    padding-left: 0px !important;
    margin-top: 0px !important;
  }

  .data-con2 .d-text p {
    font-size: 17px !important;
  }

  .data 
  .data-con
  .d-header, .d-header2 h6 {
    font-size: 23px !important;
  }

  .data 
  .data-con
  .d-text h6 {
    font-size: 10px !important;
  }

  .data 
  .data-con
  .d-text p {
    font-size: 17px !important;
  }

  .d-course {
    margin-top: -165px !important;
  }

  .d-course 
  .d-course-con 
  .d-course-body {
    padding: 46px 10px 16px 42px !important;
  }

  .d-course 
  .d-course-con {
    padding: 29px 50px !important;
  }

  .d-course-text ul li {
    font-size: 13px !important;
  }

  .d-course 
  .d-course-con 
  .d-course-text h5 {
    font-size: 16px !important;
  }
  
  .enrol-btn {
    padding: 9px 22px !important;
    font-size: 12px !important;
    margin-bottom: 0 !important;
  }

  .enrol-btn2 {
    padding: 9px 22px !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }
  
  .banner .text-con, 
  .banner-con2 .text-con {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: 41px 28px 33px 51px !important;
  }

  .banner .banner-con, 
  .banner2 .banner-con2{
    padding: 116px 20px 0px 35px;
  }

  .banner-con2 {
    min-height: 75vh !important;
    width: 100% !important;
    background-size: cover !important;
    position: relative !important;
  }

  .banner-con {
    min-height: 75vh !important;
    width: 100% !important;
    background-size: cover !important;
    position: relative !important;
  }

  .text-con .bs-header h5 {
    font-size: 24px !important;
  }

  .bss-p {
    font-size: 15px !important;
    width: 100% !important;
  }


  /* --------Enrol Page--------- */


  .enrol {
    padding-right: 0px !important;
  }

  .enrol-img img {
    display: none !important;
  }

  .form-control {
    padding: 16px !important;
  }

  .form-select {
    padding: 16px !important;
  }

  .form-sec {
    padding-left: 20px;
    padding-right: 20px;
  }





  /* -----------TALENT PAGE-------------- */

  .ta-lent .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  .header-wrap h5 {
    font-size: 24px !important;
    line-height: 34px !important;
  }

  .hire-btn {
    margin-top: 18px !important;
    margin-right: 184px !important;
    margin-bottom: 0 !important;
  }

  .hire-btn2 {
    margin-top: -52px !important;
    margin-left: 183px !important;
    margin-bottom: 0 !important;
  }

  .img-con img {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .why-header h6 {
    font-size: 1.4rem !important;
    max-width: 79% !important;
  }

  .why-header p {
    font-size: 13px !important;
    max-width: 65% !important;
  }

  .px-5 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .box-wrapper {
    margin-top: 30px !important;
  }

  .box-wrapper2 {
    margin-top: 30px !important;
  }

  .ptb {
    padding-top: 0 !important;
    padding-bottom: 3rem !important;
  }

  .details-con {
    padding-left: 17px !important;
    padding-right: 10px !important;
  }

  .d-img img {
    width: 100% !important;
  }

  .d-header h4 {
    font-size: 23px !important;
  }

  .form-row {
    flex-direction: column !important;
  }

  .form-container {
    width: 100% !important;
    margin-top: 50px !important;
  }

  .sac-img img {
    width: 100% !important;
    margin-top: -9px !important;
  }

  .sac{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .sac {
    padding-bottom: 0 !important;
  }

  .call-btn {
    padding: 8px 19px !important;
    right: 171px !important;
    margin-top: -104px !important;
    position: absolute !important;
    font-size: 9px !important;
  }

  .info-text h1 {
    font-size: 27px !important;
  }

  .info-text p {
    width: 100% !important;
    font-size: 20px !important;
  }

  .info-text {
    text-align: center;
  }

  .contact-info {
    padding-left: 27px;
  }

  .con-p span {
    font-size: 17px !important;
  }

  .con-p p {
    width: 100% !important;
    font-size: 1.1rem;
  }

  .col-f {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .form-sm {
    display: none !important;
  }

  .send {
    justify-content: center !important;
  }

  .send-btn {
    padding: 16px 49px !important;
    margin-top: 24px !important;
    font-size: 17px;
    margin-bottom: 40px;
  }

  .form-section {
    margin-top: 38px;
  }


   /* --------BOOST PAGE ---------- */

   .boost-sec {
    text-align: center;
  }

  .ta-lent {
    flex-direction: column;
  }

  .boost-text {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 50px !important;
    padding-top: 0 !important;
  }

  .boost-sec .bt-header h5 {
    font-size: 27px !important;
    line-height: 40px !important;
  }

  .boost-text .btt-p {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 10px;
    max-width: 13em;
    color: #4B1F5A;
  }

  .boost-img {
    width: 100% !important;
  }

  .boost-img img {
    width: 100% !important;
  }

  .why {
    margin-top: 2.5em !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
  }

  .why-text h6 {
    font-size: 22px !important;
  }

  .why-text p {
    font-size: 16px !important;
  }

  .sol-img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sol-img img {
    width: 100% !important;
  }

  .why-form {
    margin-top: 47px;
    padding: 20px !important;
  }

  .s-header h4 {
    font-size: 30px !important;
  }

  .r-body p {
    font-size: 27px !important;
    max-width: 15em !important;
  }

  



}




@media (min-width: 768px) and (max-width: 1024px) {


  .p-x-all {
    padding-left: 38px;
    padding-right: 38px;
  }

  .ta-lent .ts-header h5 {
    font-size: 24px !important;
    line-height: 40px !important;
  }

  .ta-lent .text-con {
    padding-top: 46px !important;
    padding-left: 0px !important;
  }

  .ts-p {
    font-size: 12px !important;
  }
   
  .tss-p {
    font-size: 10px !important;
  }

  .fs-12 {
    font-size: 10px !important;
  }

  .fs-18 {
    font-size: 15px !important;
  }

  .benefit-con {
    padding: 35px 15px !important;
  }

  .text-body h5 {
    font-size: 17px !important;
  }

  .box-sec .box-con {
    padding: 26px 19px !important;
  }

  .box-con .text-col p {
    font-size: 10px !important;
  }

  .box-con2 .text-col p {
    font-size: 10px !important;
    margin-bottom: 33px !important;
  }

  .box-sec .box-con2 {
    padding: 26px 10px !important;
  }

  .d-course .d-course-con {
    padding: 48px 155px !important;
  }

  .courses .col-box .col-con p {
    font-size: 9px !important;
  }

  .courses-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 128px;
  }

  .row-con {
    margin: 0 !important;
  }

  .col-box .col-con {
    padding: 33px 13px 23px 15px !important;
  }
  
  .d-course .d-course-body {
    padding: 48px 10px 16px 60px !important;
  }

  .testimonial-sec .box-con {
    padding: 16px 16px !important;
    height: 499px;
  }

  .testimonial .testimonial-sec h6 {
    font-size: 16px !important;
  }

  .testimonial-sec .box-con p {
    font-size: 15px !important;
  }

  

  /* ------------Data & Skills page -------------- */

  .banner2 .banner-con2 {
    background-size: contain ;
    background-repeat: no-repeat;
    min-height: 39vh !important;
  }

  .banner .banner-con {
    background-size: contain ;
    background-repeat: no-repeat;
    min-height: 39vh !important;
  }

  .d-course-con {
    padding: 48px 260px !important;
  }

  .data-row {
    padding-left: 76px !important;
  }

  .d-text p {
    font-size: 19px !important;
  }

  .banner .text-con {
    padding-top: 160px !important;
    padding-left: 53px !important;
  }

  .banner2 .text-con {
    padding-top: 160px !important;
    padding-left: 53px !important;
  }

  .bs-header h5 {
    font-size: 32px !important;
  }

  .bss-p {
    font-size: 9px !important;
    margin-top: 0 !important;
  } 

  .data-text {
    padding-left: 33px !important;
  }

  .data-con2 .d-text p {
    font-size: 16px !important;
  }

  .data .d-header2 h6 {
    font-size: 27px !important;
  }


  /* -------------TALENT PAGE----------- */

  .img-con img {
    width: 88% !important;
  }

  .header-wrap h5 {
    font-size: 30px !important;
  }

  .taa-p {
    font-size: 14px !important;
    width: 77% !important;
  }

  .hire-btn2 {
    margin-left: 15px !important;
  }

  .text-wrap {
    padding-top: 40px !important;
    padding-bottom: 0 !important;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .why-header h6 {
    font-size: 1.7rem !important;
    max-width: 59% !important;
  }

  .why-header p {
    max-width: 38% !important;
  }

  .box-wrapper {
    padding: 30px 7px 10px 13px !important;
  }

  .box-wrapper2 { 
    padding: 30px 8px 13px 10px !important; 
  }

  .bt-p2 {
    font-size: 0.9rem !important;
  }

  .bs-p3 {
    font-size: 0.83rem !important;
    margin-bottom: 2rem !important;
  }

  .btt-p2 {
    font-size: 0.9rem !important;
  }

  .d-header h4 {
    font-size: 14px !important;
  }

  .d-img img {
    width: 100% !important;
  }

  .form-row {
    flex-direction: column !important;
  }

  .form-container {
    width: 100% !important;
  }

  .sac-img img {
    width: 100% !important;
    margin-top: -55px !important;
  }

  .call-btn {
    padding: 14px 27px !important;
    right: 311px !important;
    margin-top: -152px !important;
  }


  .info-text p {
    width: 100% !important;
  }

  .con-p p {
    width: 100% !important;
    font-size: 14px !important;
  }

  .boost-text {
    padding-top: 34px !important;
  }

  .bt-header h5 {
    font-size: 26px !important;
    line-height: 40px !important;
  }

  .btt-p {
    font-size: 16px !important;
  }

  .boost-img img {
    width: 100% !important;
  }

  .why-con {
    padding: 35px 10px 0px 16px !important;
    height: 293px !important;
  }

  .why-con2 {
    padding: 35px 14px 0px 13px !important;
    height: 293px !important;
  }

  .why-text p {
    font-size: 13px !important;
  }

  .sol-img img {
    width: 100% !important;
  }

  .why-form {
    padding: 0 !important;
  }

  .enrol {
    padding-right: 0 !important;
  }

  .form-sec {
    margin-top: 43px !important;
    padding-left: 22px !important;
  }

  .form-control {
    width: 88% !important;
  }

  .form-sec h5 {
    font-size: 26px !important;
  }

  .form-select {
    width: 88% !important;
  }

  .enrol-img img {
    width: 96% !important;
  }

  .form-sec .form-con form {
    gap: 0 !important;
  }

}













/************** Talent section *************/
.talent {
  background-color: #fdf7ff;
}

.talent-sec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ts-p {
  background-color: #ffc608;
  width: fit-content;
  padding: 9px 30px;
  color: #431b51;
  font-size: 15px;
  border-radius: 23px;
}

.ts-header {
  margin-top: 35px;
}

.ts-header h5 {
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  color: #431b51;
  text-wrap: nowrap;
  margin: 0;
}

.tss-p {
  font-size: 17px;
  color: #431b51;
  line-height: 28px;
  margin-top: 17px;
}

.img-wrap {
  width: 41em;
}

.img-wrap img {
  width: 100%;
  object-fit: contain;
}

.contact-btn2 {
  padding: 18px 30px;
  background-color: #431b51;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  margin-top: 18px;
}

/* **************** About us ******************** */
.about-us {
  background-color: #fff;
  align-items: center;
  padding-top: 7.7em;
}

.about-img {
  position: relative;
  width: 100%;
}

.img-1 {
  position: absolute;
}

.img-2 img {
  position: absolute;
  bottom: -593px;
  left: 220px;
}

.ab-header h6 {
  color: #431b51;
  line-height: 29px;
  margin-top: 13px;
  font-size: 21px;
}

.tta-p {
  background-color: #ffc608;
  display: inline-block;
  padding: 10px 30px;
  color: #431b51;
  font-size: 16px;
  border-radius: 23px;
  margin-bottom: 2rem;
}

.ab-h4 {
  font-size: 45px;
  color: #431b51;
  font-weight: 800;
  margin-bottom: 2rem;
}

.ceo {
  margin-left: 25px;
  margin-top: 30px;
  align-items: center;
}

.ceo img {
  height: 84px;
  width: 84px;
  border: 1px solid #431b51;
  border-radius: 40px;
  padding: 5px;
}

.founder {
  margin-left: 20px;
}

.p1 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 600;
  font-size: 25px;
  color: #431b51;
}

.p2 {
  font-weight: 600;
  font-size: 17px;
  color: #431b51;
}

.years {
  margin-left: 7px;
  border: 1px solid #431b51;
  border-radius: 5px;
  height: fit-content;
}

.ex-p {
  background-color: #ffc608;
  padding: 19px;
  font-size: 23px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 0 !important;
}

/* ----------------Service Area-------------------- */

.service {
  margin-top: 10em;
  background-color: #f6f7eb;
  padding-bottom: 10em;
}

.s-text {
  text-align: center;
  padding: 45px 0px 30px;
}

.s-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #431b51;
}

.s-text p {
  font-size: 17px;
  font-weight: 400;
  color: #5e2c6e;
}

.border-area {
  background: #431b51;
  border-radius: 12px;
  position: relative;
  padding: 30px 35px;
  margin-bottom: 40px;
}

.service-area .hh4 {
  color: #ffff;
  font-size: 30px;
  font-weight: 700;
}

.pss-1 {
  font-size: 14px;
  color: #fffcf2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.s-img {
  width: 100%;
}

.s-img img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.visit-btn1 {
  position: absolute;
  left: 110px;
  bottom: 101px;
  padding: 16px 36px;
  background: #ffc608;
  border: none;
  color: #431b51;
}

.border-area2 {
  background: #ffc608;
}

.pss-2 {
  padding-left: 64px;
  font-size: 20px;
  color: #431b51;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-area2 h4.hh4,
.border-area2 .pss-1 {
  color: #431b51;
}

.visit-btn2 {
  position: absolute;
  left: 110px;
  bottom: 101px;
  padding: 16px 36px;
  background: #431b51;
  border: none;
  color: #ffc608;
}

.border-area3 {
  background: #431b51;
  border-radius: 12px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 50px;
}

/* ----------------bottom area--------------------- */

.bottom-text {
  margin-top: -140px;
}

.bottom-text .bottom-con {
  padding: 40px 130px;
}

.bottom-text .bottom-row {
  background: #f6f7eb;
  text-align: center;
  padding: 55px 10px 35px;
  border-radius: 0 0 12px 12px;
  border-top: 9px solid #431b51;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bottom-text .svg-wrap {
  background: #f8e2ff;
  display: inline-block;
  padding: 10px;
  border-radius: 9px;
}

.bottom-text h3 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 13px;
  color: #431b51;
}

.bottom-text .col-md-3 p {
  font-size: 13px;
  color: #431b51;
}
.text-bold {
  font-weight: bold;
}
.fs-18 {
  font-size: 20px;
}
.fs-12 {
  font-size: 15px;
}

/* .fs-11 {
  font-size: 11px;
} */

/* ---------------Benefits------------------- */

.benefit-con {
  padding: 35px 22px;
  margin-top: 20px;
  border-radius: 9px;
  background: #fcf2ff;
}

.benefit {
  background: #fff;
  margin-top: 5.5em;
}

.benefit .svgs {
  margin-bottom: 40px;
}
.benefit .svgs svg {
  width: 48px;
  height: 48px;
}

/* -----------------Testimonials----------------------- */

.testimonials {
  background: #fffcf2;
}
.testimonials-carousel {
  display: flex;
  align-items: start;
}
.testimonials-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5em 0;
}

.text-place {
  margin-top: 65px;
}

.text-place p {
  display: inline-block;
  background: #ffc608;
  color: #431b51;
  padding: 8px 27px;
  border-radius: 22px;
}

.text-body {
  text-wrap: nowrap;
}

.text-body h5 {
  font-size: 30px;
  font-weight: 800;
  color: #431b51;
}

.testimonials-text {
  text-wrap: balance;
  background: #431b51;
  color: #fff;
  padding: 42px 0px;
  border-radius: 15px;
}

.testi-text {
  margin: 0 45px;
}

.testimonials-text p {
  font-size: 17px;
}

.testimonials-text h5 {
  margin-bottom: 18px;
  font-size: 25px;
}

.testimonials-text h6 {
  font-size: 18px;
}

.white {
  background: #fff;
  padding: 21px 0;
}
/* ----------------Ready------------------------- */
.ready {
  text-align: center;
  padding: 4em 0;
}

.p-body p {
  font-size: 32px;
  color: #431b51;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.5;
}

.ready-btn {
  padding: 13px 30px;
  /* background-color: #431b51; */
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin-top: 35px;
}

/* ------------------Footer-------------------- */

.footer {
  background: #431b51;
  color: #fff;
  /* padding: 30px 60px; */
}

.footer-img {
  margin-left: -11px;
  width: 200px;
}

.footer-text1 {
  margin-top: 40px;
}

.footer-text1 p {
  font-size: 16px;
}

.footer-nav ul {
  padding-left: 0;
}

.footer-nav ul li {
  display: block;
  margin-top: 23px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.s-h6 h6 {
  font-size: 20px;
  font-weight: 700;
}

.footer-con {
  margin-top: 48px;
}

.contact-p {
  margin-top: 23px;
}

.contact-p p {
  color: #fff;
  font-size: 16px;
}

.contact-p a {
  text-decoration: none;
  color: #fff;
}

.contact-h6 h6 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 23px;
}

.number {
  font-size: 16px;
  text-wrap: nowrap;
}

.footer-col3 {
  margin-left: -28px;
}

.bottom-footer {
  display: flex;
  margin-top: 60px;
}

.arr-img img {
  margin-top: 2px;
}

.arr-text p {
  font-size: 16px;
}


@media (max-width: 992px) {
  .about-text {
    margin-left: 0 !important;
    margin-top: 30px !important;
    text-align: center;
  }
  .ceo {
    justify-content: center;
  }
  .ab-h4 {
    font-size: 40px;
  }
  .ab-header h6 {
    font-size: 19px !important;
  }
}



/* -----------box---------- */

.box .box-sec {
  padding-top: 5em;
  padding-bottom: 5em;
}

.box .box-con {
  background: #F2D0FE;
  padding: 30px 26px;
  border-radius: 10px;
}

.box .box-con2 {
  background: #F6F7EB;
  padding: 25px 26px;
  border-radius: 10px;
}

.box .svg-wrap {
  background: #F6F7EB;
  width: fit-content;
  padding: 10px;
  margin-bottom: 2em;
  border-radius: 9px;
}

.box .svg-wrap2 {
  background: #F8E2FF;
  width: fit-content;
  padding: 10px;
  margin-bottom: 2em;
  border-radius: 9px;
}

.box .box-con .text-col h6 {
  font-size: 20px;
  font-weight: 700;
  color: #431b51;
  margin-bottom: 25px;
  line-height: 1.5;
}

.box .box-con2 .text-col h6 {
  font-size: 20px;
  font-weight: 700;
  color: #431b51;
  margin-bottom: 25px;
  line-height: 1.5;
}

.box .box-con .text-col p {
  font-size: 17px;
  color: #431b51;
  margin-top: 15px;
}

.box .box-con2 .text-col h6 {
  margin-bottom: 25px;
}

.box .box-con2 .text-col p {
  margin-bottom: 26px;
  font-size: 17px;
}

/* ----------courses------------ */

.courses .courses-sec {
  background: #FCF2FF;
  padding-top: 5em;
}

.courses-title {
  text-align: center;
}

.courses .courses-title h6 {
  font-size: 40px;
  font-weight: 700;
  color: #431B51;
}

.courses .courses-title p {
  color: #431B51;
  font-size: 17px;
}

.courses .courses-sec .row-con {
  margin: 36px 0 0 208px;
  padding-bottom: 40px;
}

.courses .col-box { 
  background: #431B51;
  border-radius: 12px;
}

.courses .col-box .col-con {
  padding: 33px 30px 23px 42px;
}

.courses .col-box .col-con h6 {
  color: #fff;
  margin-top: 35px;
  font-weight: 700;
  font-size: 19px;
}

.courses .col-box .col-con p {
  font-size: 14px;
  color: #fff;
  margin-top: 25px;
}

.courses .col-box img {
  width: 100%;
}

.courses .col-box .learn-btn {
  background: #FFC608;
  border: none;
  color: #431B51;
  font-size: 15px;
  padding: 11px 22px;
  border-radius: 3px;
}


/* --------------Testimonial---------------- */

.testimonial 
.testimonial-con {
  margin-top: 8em;
}

.testimonial 
.testimonial-con
.testimonial-tittle {
  text-align: center;
}

.testimonial 
.testimonial-con
.testimonial-tittle h5 {
  background: #FFC608;
  padding: 9px 24px;
  display: inline-block;
  border-radius: 30px;
  font-size: 14px;
}

.testimonial 
.testimonial-con
.testimonial-tittle .text-p {
  font-size: 35px;
  font-weight: 700;
  color: #431B51;
  margin-top: 12px;
}

.testimonial 
.testimonial-con
.testimonial-tittle p {
  margin-bottom: 0;
}

.testimonial 
.testimonial-sec img {
  width: 60px;
}

.testimonial 
.testimonial-sec h6{
  font-size: 14px;
}

.testimonial 
.testimonial-sec
.testi-h6 {
  font-weight: 700;
}

.testimonial 
.testimonial-sec
.box-con {
  background: #FCF2FF;
  border-radius: 10px;
  padding: 17px 25px;
  margin-top: 30px;
}

.testimonial 
.testimonial-sec
.box-con p {
  color: #5E2C6E;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
}

.svg-slide {
  display: none;
}



/* --------------------------------DATA PAGE-------------------------------------- */

.banner-con {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/img/image2.png);
  background-size: cover;
  position: relative;
}

.banner .text-con {
  padding-top: 313px;
  padding-left: 88px;
}

.bs-header h5 {
  font-size: 43px;
  font-weight: 800;
  line-height: 52px;
  color: #fff;
  text-wrap: nowrap;
  margin: 0;
}

.bss-p {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 28px;
  margin-top: 17px;
  width: 29%;
}

/* ----------------data------------- */

.data-container {
  margin-bottom: 27px;
  padding-top: 3rem;
}

.data .data-con {
  background: #F6F7EB;
  height: 452px;
  border-radius:5px;
}

.data 
.data-con
.d-header {
  text-align: center;
  padding-top: 35px;
}

.data 
.data-con
.d-header h6 {
  color: #431B51;
  font-size: 35px;
  font-weight: 700;
}

.data 
.data-con
.data-row {
  padding-left: 184px;
  padding-top: 61px;
}

.data 
.data-con, .data-con2
.d-text h6 {
  font-size: 14px;
  color: #5E2C6E;
}

.data 
.data-con, .data-con2
.d-text p {
  font-size: 22px;
  color: #431B51;
  font-weight: 700;
} 

.d-course {
  margin-top: -195px;
}

.d-course 
.d-course-con{
  padding: 48px 421px;
}

.d-course 
.d-course-con
.d-course-text h5 {
  color: #fff;
  font-size: 17px;
}

.d-course-text ul {
  padding-left: 0;
  color: #fff;
}

.d-course-text ul li {
  display: flex;
  align-items: center;
  margin-top: 23px;
  font-size: 15px;
}

.svg {
  padding-right: 30px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: -22px;
}

.enrol-btn{
  display: block;
  width: fit-content;
  border: none;
  padding: 12px 25px;
  background-color: #FFC608;
  color: #431B51;
  border-radius: 4px;
  font-size: 15px;
  text-decoration: none;
}

.d-course .d-course-body {
  padding: 48px 10px 16px 89px;
  background-color: #431B51;
  border-radius: 8px;
}



/* -----------------------------------------SKILL PAGE---------------------------------------- */

.banner-con2 {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/img/skills.png);
  background-size: cover;
  position: relative;
}

.banner2 .text-con {
  padding-top: 313px;
  padding-left: 88px;
}

/* .bs-header h5 {
  font-size: 43px;
  font-weight: 800;
  line-height: 52px;
  color: #fff;
  text-wrap: nowrap;
  margin: 0;
} */

.banner-con2 .bss-p {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 28px;
  margin-top: 17px;
  width: 29%;
}

.data-skill {
  padding-top: 3rem;
  margin-bottom: 6rem;
}

.data-sec {
  padding-top: 3rem;
}

.data-con2 {
  background: #F6F7EB;
  height: 420px;
  border-radius:5px;
}

.data 
.d-header2 {
  text-align: center;
  padding-top: 50px;
}

.data 
.d-header2 h6 {
  color: #431B51;
  font-size: 35px;
  font-weight: 700;
}

.data .data-text {
  padding-left: 102px;
  margin-top: 42px;
}

.data-con2 a {
  text-decoration: none;
}

.enrol-btn2{
  border: none;
  padding: 12px 25px;
  background-color: #431B51;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  display: block;
  margin: 40px auto 0 auto;
}


/* ------------------Enrol Page------------------------- */

.enrol {
  padding-right: 100px;
}

.enrol-img img {
  width: 70%;
}

.form-sec h5 {
  font-size: 30px;
  color: #431B51;
  font-weight: 700;
}

.form-label {  
 color: #431B51;
}

.form-sec {
  margin-top: 58px;
}

.form-control {
  border-radius: 3px;
  border: 1px solid #6D2786;
}

.form-select {
  border-radius: 3px;
  border: 1px solid #6D2786;
}

.sub-btn {
  border: none;
  padding: 13px 20px;
  color: #fff;
  background: #431B51;
  border-radius: 5px;
  font-size: 15px;
  width: 124px;
  margin-top: 35px;
}


option {
  background-color: #606060;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.modal-body {
  text-align: center;
}

.modal-body h6 {
  font-size: 1.4rem;
  color: #431B51;
  font-weight: 600;
  margin-top: 20px;
}

.modal-body p {
  font-size: 15px;
  color: #431B51;
  margin-top: 13px;
}

.modal-footer {
  justify-content: center;
}

.modal-btn {
  border: none;
  color: #fff;
  padding: 10px 18px;
  border-radius: 4px;
}




/* --------------------------TALENT PAGE----------------------------- */

.ta-p {
  background-color: #ffc608;
  width: fit-content;
  padding: 11px 20px;
  color: #431b51;
  font-size: 12px;
  border-radius: 23px;
}

.header-wrap h5 {
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  color: #431b51;
  text-wrap: nowrap;
  margin: 0;
}

.taa-p {
  font-size: 17px;
  color: #431b51;
  line-height: 28px;
  margin-top: 17px;
  width: 76%;
}

.text-wrap {
  padding-bottom: 128px;
}

.img-con img {
  width: 82%;
  object-fit: contain;
  margin-left: 85px;
}

.hire-btn {
  padding: 13px 24px;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  margin-top: 18px;
}

.hire-btn2 {
  padding: 12px 24px;
  color: #431B51;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #431B51;
  font-size: 17px;
  margin-top: 18px;
  margin-left: 67px;
}

.why {
  margin-bottom: 4rem;
} 

.why-wrapper {
  background-color: #FCF3FF;
  border-radius: 9px;
  padding-top: 70px;
}

.why-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.why-header h6 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #431b51;
  max-width: 50%;
}

.why-header p {
  font-size: 13px;
  color: #5E2C6E;
  margin-top: 28px;
  max-width: 28%;
}

.box-wrapper {
  background: #fff;
  padding: 30px 21px 10px 24px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-wrapper2 {
  background: #431B51;
  padding: 30px 26px 18px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.svg-con {
  background: #F6F7EB;
  width: fit-content;
  padding: 10px;
  margin-bottom: 2em;
  border-radius: 9px;
}

.svg-con2 {
  background: #F8E2FF;
  width: fit-content;
  padding: 10px;
  margin-bottom: 2em;
  border-radius: 9px;
}

.box-text {
  padding-top: 7.1rem;
}

.box-text2 {
  padding-top: 17px;
}

.bs-p1 {
  color: rgba(255, 255, 255, 0.75);
}

.bs-p2 {
  color: #fff;
}

.bs-p3 {
  color: rgba(255, 255, 255, 0.75);
}

.bt-p {
  color: #431B51;
  font-size: 15px;
}

.bt-p2 {
  color: #431B51;
}

.btt-p {
  color: #431B51;
  font-size: 15px;
}

.btt-p2 {
  color: #431B51;
  font-weight: 600;
}

.ptb {
  padding-top: 3rem;
  padding-bottom: 5rem;
}


.details {
  background-color: #431B51;
}

.details-con {
  padding-top: 100px;
  padding-bottom: 145px;
}

.d-header h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.d-img img {
  width: 75%;
  padding-top: 40px;
}

.form-container {
  background-color: #562169;
  padding: 28px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.application-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #ddd;
}


input,
button {
  background-color: #6D2786;
  color: #fff;
  margin-bottom: 7px;
}

input:focus {
  outline: none;
  border-color: #7c43a3;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-btn {
  background-color: #431B51;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 11px 28px;
}

.submit-btn:hover {
  background-color: #4b0082;
}

.sac {
  padding-bottom: 7rem;
}

.sac-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sac-img img {
  width: 87%;
  margin-top: -102px;
  position: relative;
}

.call-btn {
  background-color: #431B51;
  color: #fff;
  padding: 14px 27px;
  right: 602px;
  margin-top: -274px;
  position: absolute;
}



.contact-con {
  padding-top: 22px;
}

.info-text h1 {
  font-size: 38px;
  color: #431B51;
  font-weight: 700;
}

.info-text p {
  width: 80%;
  font-size: 17px;
  margin-top: 18px;
  color: #4B1F5A;
}

.contact-info {
  margin-top: 20px;
}

.contact-text {
  display: flex;
  align-items: center;
}

.con-p {
  margin-left: 47px;
  margin-top: 26px;
}

.con-p span {
  font-size: 14px;
  color: #4B1F5A;
}

.con-p p {
  width: 83%;
  color: #4B1F5A;
} 

.form-section {
  flex: 1;
  background-color: #4B1F5A;
  padding: 40px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9em;
  margin-bottom: 5px;
}

input, textarea, button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}


input, textarea {
  background-color: #6D2786;
  color: #fff;
}

.send-btn {
  padding: 11px 28px;
  margin-top: 20px;
  color: #431B51;
  color: #fff;
}





/* --------------------Workplace page------------ */

.boost {
  background-color: #FCEADE;
}

.boost-sec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boost-text {
  padding-top: 65px;
}

.bt-p {
  background-color: #ffc608;
  width: fit-content;
  padding: 9px 30px;
  color: #431b51;
  font-size: 15px;
  border-radius: 23px;
}

.bt-header {
  margin-top: 35px;
}

.bt-header h5 {
  font-size: 35px;
  font-weight: 700;
  line-height: 52px;
  color: #431b51;
  text-wrap: nowrap;
  margin: 0;
}

.btt-p {
  font-size: 17px;
  color: #431b51;
  line-height: 28px;
  margin-top: 17px;
}


.boost-img img {
  width: 88%;
  object-fit: contain;
}

.request-btn {
  padding: 13px 27px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  margin-top: 18px;
}


.why-con {
  padding: 35px 14px 35px 38px;
  margin-top: 20px;
  border-radius: 9px;
  background: #fcf2ff;
}

.why-con2 {
  background: #F6F7EB;
  padding: 35px 14px 35px 38px;
  margin-top: 20px;
  border-radius: 9px;
}

.why {
  margin-top: 5.5em;
}

.why-text h6 {
  font-size: 18px;
  font-weight: 700;
}

.why-text p {
  letter-spacing: 1px;
  font-size: 15px;
}

.why-svgs {
  background: #F8E2FF;
  width: fit-content;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.why-svgs svg {
  width: 20px;
  height: 25px;
}


.solution {
  background: #ebe3ec;
}

.solution-sec {
  padding-top: 71px;
  padding-bottom: 80px;
  margin-bottom: 100px;
}

.s-header {
  text-align: center;
}

.s-header h4 {
  font-size: 25px;
  font-weight: 600;
  color: #431B51;
  padding-bottom: 64px;
}

.sol-img img {
  width: 78%;
  margin-top: 6px;
}

.why-form {
  gap: 0;
  padding: 0px 45px;
}

.checkbox-group2 input {
  background: #431B51;
}

.checkbox-group2 label {
  color: #431B51;
}

.submit-btn2 {
  background-color: #431B51;
  padding: 11px 28px;
  margin-top: 25px;
}

.why-form .form-control {
  border-radius: 3px;
  border: 1px solid #6D2786;
  background: #ebe3ec;
}

.r-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-body p {
  font-size: 30px;
  color: #431b51;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.5;
  max-width: 24em;
}